body {
  margin:0;
  padding:0;
}

.main-container {
  position:absolute;
  margin:0;
  padding:0;
  left:5vw;
  width:90vw;
}

.project {
  padding:10px;
  margin:10px;
  background-color:#eeeeee;
}

a:visited {
  text-decoration: none;
}

textarea {
  min-width: 400px;
  min-height: 400px;
}
